In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier

In [3]:
import warnings
warnings.filterwarnings("ignore")

# Data

In [4]:
train = pd.read_csv("voting_train.csv")
test = pd.read_csv("voting_test.csv")

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 18 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID                                      218 non-null    int64
 1   class                                   218 non-null    object
 2   handicapped-infants                     218 non-null    object
 3   water-project-cost-sharing              218 non-null    object
 4   adoption-of-the-budget-resolution       218 non-null    object
 5   physician-fee-freeze                    218 non-null    object
 6   el-salvador-aid                         218 non-null    object
 7   religious-groups-in-schools             218 non-null    object
 8   anti-satellite-test-ban                 218 non-null    object
 9   aid-to-nicaraguan-contras               218 non-null    object
 10  mx-missile                              218 non-null    object
 11  immigration                             218 non-null    object
 12  synfuels-crporation-cutback             218 non-null    object
 13  education-spending                      218 non-null    object
 14  superfund-right-to-sue                  218 non-null    object
 15  crime                                   218 non-null    object
 16  duty-free-exports                       218 non-null    object
 17  export-administration-act-south-africa  218 non-null    object
dtypes: int64(1), object(17)
memory usage: 30.8+ KB

In [6]:
train.head()

,ID,class,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-crporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,67,republican,n,y,n,y,y,y,y,n,n,n,y,y,y,y,n,y
1,338,democrat,y,n,y,n,n,n,y,y,y,n,n,n,n,n,y,y
2,35,democrat,y,y,y,n,n,n,y,y,y,n,n,n,n,n,y,y
3,122,republican,n,unknown,n,y,y,y,n,n,n,y,n,y,y,y,n,y
4,420,democrat,y,y,y,n,n,n,y,y,y,n,n,n,n,n,n,y

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 17 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ID                                      217 non-null    int64
 1   handicapped-infants                     217 non-null    object
 2   water-project-cost-sharing              217 non-null    object
 3   adoption-of-the-budget-resolution       217 non-null    object
 4   physician-fee-freeze                    217 non-null    object
 5   el-salvador-aid                         217 non-null    object
 6   religious-groups-in-schools             217 non-null    object
 7   anti-satellite-test-ban                 217 non-null    object
 8   aid-to-nicaraguan-contras               217 non-null    object
 9   mx-missile                              217 non-null    object
 10  immigration                             217 non-null    object
 11  synfuels-crporation-cutback             217 non-null    object
 12  education-spending                      217 non-null    object
 13  superfund-right-to-sue                  217 non-null    object
 14  crime                                   217 non-null    object
 15  duty-free-exports                       217 non-null    object
 16  export-administration-act-south-africa  217 non-null    object
dtypes: int64(1), object(16)
memory usage: 28.9+ KB

In [8]:
test.head()

,ID,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-crporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,430,y,n,y,n,unknown,n,y,y,y,y,n,y,n,unknown,y,y
1,411,n,n,n,y,y,y,n,n,n,n,y,y,y,y,n,y
2,167,y,n,y,y,y,y,y,y,n,y,n,y,n,y,y,y
3,99,y,y,y,n,n,y,y,y,y,y,n,n,n,n,n,y
4,415,y,y,y,n,n,n,y,y,y,n,n,n,n,n,n,y

In [9]:
X_train = train.drop(["ID", "class"], axis=1)
y_train = train["class"]

X_test = test.drop(["ID"], axis=1)

# Pre-processing

## Encoding

In [10]:
ohe = OneHotEncoder()
X_train_enc = ohe.fit_transform(X_train)
X_test_enc = ohe.fit_transform(X_test)

# Model selection

In [11]:
# Grid Search

cv = 10         # number of folds
verbose = 1     # information shown during training

## Random Forest

In [12]:
parameters = {
    "n_estimators":[5, 10, 50, 100, 200, 300], 
    "criterion":["gini", "entropy"], 
    "max_depth":["None", 5, 10, 20],
    "max_features":["auto", "sqrt", "log2"]}
model = GridSearchCV(RandomForestClassifier(), parameters, cv=cv, verbose=verbose, scoring="accuracy")
model.fit(X_train_enc, y_train)

results = pd.DataFrame(model.cv_results_)
results = results[["param_n_estimators", "param_criterion", "param_max_depth", "param_max_features", "mean_test_score", "std_test_score"]]
results.sort_values(["mean_test_score"], ascending=False).head(10)

Fitting 10 folds for each of 144 candidates, totalling 1440 fits

,param_n_estimators,param_criterion,param_max_depth,param_max_features,mean_test_score,std_test_score
20,50,gini,5,auto,0.963203,0.027430
25,10,gini,5,sqrt,0.963203,0.018417
35,300,gini,5,log2,0.958658,0.031892
103,10,entropy,5,log2,0.958658,0.051672
55,10,gini,20,auto,0.958658,0.031892
62,50,gini,20,sqrt,0.958658,0.031892
122,50,entropy,10,log2,0.954113,0.028761
65,300,gini,20,sqrt,0.954113,0.028761
64,200,gini,20,sqrt,0.954113,0.028761
63,100,gini,20,sqrt,0.954113,0.035220

# Final model

In [28]:
best_model = model.best_estimator_
best_model.fit(X_train_enc, y_train)

RandomForestClassifier(criterion='entropy', max_depth=5, max_features='sqrt',
                       n_estimators=200)

In [29]:
predictions = pd.DataFrame(test["ID"])
predictions["class"] = best_model.predict(X_test_enc)

In [30]:
predictions.to_csv("submission.csv", index=False)